.main {
  height: 90vh;
  width: 100%;
  /* background: #f7d7d7; */
  display: flex;
  justify-content: center;
}

.container {
  /* background: #696969; */
  height: 80%;
  width: 50%;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border-right: 1px solid #979797; */
}
.heading {
  /* background: #989898; */
  height: 35%;
  width: 60%;
 color: white;
  
}
.heading > h1 {
  font-size: 5vw ;
}

.heading_text {
  height: 10%;
  width: 60%;
  /* background: #a8a8a8; */
  padding-bottom: 10vh;
  
}
.heading_text > p {
  font-size: 1.2vw ;
  color: white ;
  margin-top: 1.3vw;
}

.btns {
  display: flex;
  height: 20%;
  justify-content: space-between;
  width: 60%;
  /* background: #000; */
  align-items: center;
  padding-right: 4vw;
}

.btns > h2 {
  height: 40%;
  font-size: 1.2vw ;
  color: white ;
  border: 1.4px solid white;
  border-radius: 20px;
  padding: 0vw 2vw 0vw  2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btns > h2:nth-child(1) {
  background: linear-gradient(220.55deg, #b852e8 0%, #3c0791 100%);
}

#canvas {
  height: 90%;
  width: 100%;
  /* background: #efefef; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas > img {
 height: 32vw;
 object-fit: cover;
}
#canvas > img:nth-child(2) {
 height: 20vw;
 object-fit: cover;
}